{% extends 'base.html.twig' %}
{% block title %}<title>Ajout Burger | {{ parent() }} </title>{% endblock %}
{% block body %}
    {% block content %}
        {{ form(form) }}
    {% endblock %}
{% endblock %}