<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            - CRUDcroustillant
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    </head>
    <body>
        {% include '_header.html.twig' %}
        {% block content %}{% endblock %}
        {% include '_footer.html.twig' %}
    </body>
</html>
