<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
            - CRUDcroustillant
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}

    </head>
    <body>
        {% include '_header.html.twig' %}
        {% block content %}{% endblock %}
        {% include '_footer.html.twig' %}
    </body>
</html>
