<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            - CRUDcroustillant
        {% endblock %}
    </head>
    <body>
        {% block backhome %}
            <a href="{{ path('home') }}"> Home </a>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
