{% extends 'base.html.twig' %}
{% block title %} <title>Détail du Burger {{ id }} {{parent()}} </title> {% endblock %}
{% block body %}
    {% block content %}
        <h1>Nom du burger : {{ nomBurger }} </h1>
    {% endblock %}
{% endblock %}