{% extends 'base.html.twig' %}
{% block title %} <title>Accueil {{parent()}} </title> {% endblock %}

{% block body %}
    
    {% block content %}
        <img src={{ asset('images/homePageBurger.png') }} alt="home image" width="25%">
    {% endblock %}

    
{% endblock %}
